.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  background: linear-gradient(135deg, #1a1a1a 0%, #2c3e50 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  font-family: 'Roboto', sans-serif;
}

.logo {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.logo span {
  color: #00D4FF;
}

.links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.links .item-link {
  text-decoration: none;
  color: #A8A8A8;
  font-size: 18px;
  transition: 0.3s;
  font-weight: 500;
}

.links .item-link:hover {
  color: #00D4FF;
}

.profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #00D4FF;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.mat-icon {
  color: white !important;
}

/* Responsividade */
@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    text-align: center;
  }

  .links {
    flex-direction: column;
    gap: 15px;
    padding: 15px 0;
  }

  .profile {
    margin-top: 10px;
  }
}
