<nav class="menu" aria-label="Navegação principal">
  <div class="logo">Academia<span>Pro</span></div>

  <!-- Botão hambúrguer para mobile -->
  <button
    class="mobile-toggle"
    (click)="toggleMobileMenu()"
    [attr.aria-expanded]="isMobileMenuOpen"
    aria-label="Abrir ou fechar menu"
  >
    <mat-icon [fontIcon]="isMobileMenuOpen ? 'close' : 'menu'"></mat-icon>
  </button>

  <!-- Links de navegação -->
  <ul class="links" [ngClass]="{ 'open': isMobileMenuOpen }">
    <li *ngFor="let link of navLinks">
      <a
        class="item-link"
        [ngClass]="{ 'active': link.ativo }"
        (click)="scrollToSection(link.url); setActiveLink(link)"
        [attr.aria-current]="link.ativo ? 'page' : null"
      >
        {{ link.texto }}
      </a>
    </li>
  </ul>

</nav>
